<footer class="py-2 mt-4" style="background-color: #A4CEE4;text-align: center;" >
    
    <img src="assets/logo1.png" height="100px" width="130px" alt="Shuvolong Royal Resort Logo" loading="lazy" />
    
    <hr>
    <div style="margin-left: 1150px;">
        <i class="fa-brands fa-facebook fa-xl" style="color: #0863f7;"></i>
        <i class="fa-brands fa-youtube fa-xl" style="color: #ff0202;"></i>
        <i class="fa-brands fa-instagram fa-xl" style="color: #e00f00;"></i>
        <i class="fa-brands fa-linkedin fa-xl" style="color: #0863f7;"></i>
    </div>
    <span class="text-center text-muted">© 2023 Shuvolong Nature Resort</span>
</footer>
