<div class="card bg-dark text-white">
    <img src="assets/pexels-felix-mittermeier-956999.jpg" class="card-img" alt="..." height="400px">
    <div class="card-img-overlay">
        <div style="text-align: center;margin-top: 120px;" class="display-6">
            <p class="card-text"
                style="font-weight: 700;font-family: cursive;backdrop-filter: blur(100px);color: whitesmoke;">We have
                six distinct category of
                accommodations with world class amenities and room facilities all arranged carefully to suit the
                needs of corporate and leisure travelers alike. </p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="\assets\Camping-portada.jpeg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Camping Tents</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new Camping Tents facilities.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 100 SQ FT </li>
                    <li class="list-group-item"><img src="assets/sleeping-bag.png" style="margin-right: 3px; height: 30px;"> 2
                        SLEEPING BAGS</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 2 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="\assets\deluxe-queen.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Deluxe King</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new 384 square
                        foot Deluxe King room with en suite shower and bathroom.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 384 SQ FT </li>
                    <li class="list-group-item"><i class="fa-solid fa-bed fa-xl" style="margin-right: 3px;"></i> 1
                        DOUBLE BED</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 2 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    <li class="list-group-item"><img src="assets/air-conditioner.png" height="30px"
                            style="margin-right: 3px;"> AIR CONDITIONING</li>
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="\assets\business.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Business Suit</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new 468 square
                        foot Business Suit with en suite shower and bathroom.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 468 SQ FT </li>
                    <li class="list-group-item"><i class="fa-solid fa-bed fa-xl" style="margin-right: 3px;"></i> 1
                        DOUBLE BED</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 3 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    <li class="list-group-item"><img src="assets/air-conditioner.png" height="30px"
                            style="margin-right: 3px;"> AIR CONDITIONING</li>
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="\assets\deluxe-twin-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Deluxe Twin</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new 400 square
                        foot Deluxe Twin room with en suite shower and bathroom.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 400 SQ FT </li>
                    <li class="list-group-item"><i class="fa-solid fa-bed fa-xl" style="margin-right: 3px;"></i> 2
                        DOUBLE BEDS</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 2 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    <li class="list-group-item"><img src="assets/air-conditioner.png" height="30px"
                            style="margin-right: 3px;"> AIR CONDITIONING</li>
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="\assets\Family_1-1-scaled.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Family Connecting Suit</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new 565 square
                        foot Family Connecting Suit with en suite shower and bathroom.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 565 SQ FT </li>
                    <li class="list-group-item"><i class="fa-solid fa-bed fa-xl" style="margin-right: 3px;"></i> 2
                        DOUBLE BEDS & 1 SINGLE BED</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 2 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    <li class="list-group-item"><img src="assets/air-conditioner.png" height="30px"
                            style="margin-right: 3px;"> AIR CONDITIONING</li>
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="\assets\gallery25a.jpg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <h5 class="card-title">Cottage</h5>
                    <p class="card-text">Functional and comfortable. Sit back and enjoy one of our brand new 768 square
                        foot Cottage with en suite shower and bathroom.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-up-right-and-down-left-from-center fa-xl"
                            style="margin-right: 10px;"></i> 768 SQ FT </li>
                    <li class="list-group-item"><i class="fa-solid fa-bed fa-xl" style="margin-right: 3px;"></i> 1
                        DOUBLE BED & 2 SINGLE BEDS</li>
                    <li class="list-group-item"><i class="fa-solid fa-person fa-xl"></i><i
                            class="fa-solid fa-person-dress fa-xl" style="margin-right: 3px;"></i> UPTO 3 GUESTS</li>
                    <li class="list-group-item"><i class="fa-solid fa-wifi fa-xl" style="margin-right: 3px;"></i> WIFI
                    </li>
                    <li class="list-group-item"><img src="assets/amenities.png" height="30px"
                            style="margin-right: 3px;"> ROOM AMENITIES</li>
                    <li class="list-group-item"><img src="assets/air-conditioner.png" height="30px"
                            style="margin-right: 3px;"> AIR CONDITIONING</li>
                </ul>
                <div class="card-body" style="text-align: end;">
                    <button class="btn btn-primary gradient-custom-2" 
                        type="submit">CHECK AVAILABILITY</button>
                </div>
            </div>
        </div>
    </div>
</div>